main {
  
    background-color: lightblue;
    border-radius: 10px;
}

h1 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h2 {
    color: red;
}

p {
    font-size: 20px;
 
}

a {
    color: white;
    font-size: 20px;
    border: 1px solid red;
    border-radius:10px;
    background-color: red;
}


footer {
    font-size: 15px;
}
